---
import Layout from "@layouts/Layout.astro";
import CaseStudyArticle from "@components/CaseStudyArticle.astro";
---

<Layout>
  <!-- Banner -->

  <p>CASE STUDIES</p>
  <h1>Taxes & Efficiency</h1>
  <p>
    Our achievements reflect the close collaboration between our expert teams
    and our esteemed clientele. We cultivate a workplace that champions peak
    performance and guarantees client satisfaction.
  </p>

  <CaseStudyArticle />
</Layout>
