---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Button from "@components/Button.astro";
import CoreValuesCard from "@components/CoreValuesCard.astro";
import Card from "@components/Card.astro";
import CEOImage from "@assets/images/ceo.webp";
---

<Layout>
  <Hero />

  <Card
    image={CEOImage}
    subtitle="WE'LL WORK WITH YOU"
    title="What To Expect"
    description="Our collaboration is built on transparency, efficiency, and measurable results. Together, we create strategies tailored to your unique needs and goals."
    point1="Collaborate to build actionable strategies that drive sustainable growth and deliver tangible outcomes."
    point2="Identify opportunities to optimize processes and implement impactful solutions with measurable results."
  />

  <section class="core_values">
    <div class="core_values_content">
      <div>
        <p>GROWING WITH OUR CLIENTS</p>
        <h2>Our core values & principles</h2>
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added
          activity beta test. Override the digital divide with additional from
          DevOps.
        </p>
      </div>
      <Button variant="white_link">Get in touch</Button>

      <CoreValuesCard />
    </div>
  </section>
</Layout>
