---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Button from "@components/Button.astro";
import CoreValuesCard from "@components/CoreValuesCard.astro";
---

<Layout>
  <Hero />

  <section class="core_values">
    <div class="core_values_content">
      <div>
        <p>GROWING WITH OUR CLIENTS</p>
        <h2>Our core values & principles</h2>
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added
          activity beta test. Override the digital divide with additional from
          DevOps.
        </p>
      </div>
      <Button variant="white_link">Get in touch</Button>

      <CoreValuesCard />
    </div>
  </section>
</Layout>
