---
const { variant = "primary" } = Astro.props;
---

<button class={variant}>
  {(<slot />)}
</button>

<style>
  @layer components {
    .yellow {
      background: var(--color-action);
      color: var(--color-text);
      border: none;
      padding: 12px 25px;
      border-radius: var(--border-radius-btn);
      font-weight: var(--weight-regular);
      cursor: pointer;
    }

    .white {
      background: var(--color-on-ui-primary);
      color: var(--color-text);
      border: none;
      padding: 12px 25px;
      border-radius: var(--border-radius-btn);
      font-weight: var(--weight-regular);
      cursor: pointer;
    }
  }
</style>
