<footer>
  <h4>Ask <span>Experts</span></h4>
  <h5>©2025 Consultalk. All rights reserved</h5>
  <h5>Terms of Service | Privacy Policy</h5>
</footer>

<style>
  .footer {
    background-color: var(--color-ui-primary);
    padding-top: 46px;
    padding-bottom: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
  }

  .footer span {
    color: var(--color-action);
  }
</style>
