---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h5>{card.title}</h5>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  .full-width {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  h5 {
    font-size: var(--h5-size);
  }

  ul {
    list-style: none;
    display: flex;
    overflow-x: auto;

    li {
      flex-basis: min(400px, 90%);
      flex-shrink: 0;
      background: var(--color-neutrals-200);
      color: var(--color-text);
      border-radius: var(--border-radius-1);
      padding: 10px;
      align-self: start;
    }
  }

  /* .full-width {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  h3 {
    font-size: var(--h3-size);
  }
  ul {
    list-style: none;
    display: flex;
    overflow-x: auto;

    li {
      flex-basis: min(400px, 90%);
      flex-shrink: 0;
      background: #eaedf1;
      color: var(--card-text-color);
      border-radius: var(--card-border-radius);
      font-size: 1rem;
      padding: var(--card-padding);
      align-self: start;
    }
  }

  .full {
    grid-column: full;
    display: grid;
    grid-template-columns: inherit;
    row-gap: 3rem;

    > * {
      grid-column: content;
    }

    > ul {
      scroll-snap-type: x mandatory;
      grid-column: full;
      padding-inline: max(1rem, 50% - var(--content-width) / 2);
      padding-block-end: 1rem;

      li {
        scroll-snap-align: center;
      }
    }
  } */
</style>
