---
import ServiceCard from "@components/ServiceCard.astro";
import servicesData from "@data/services.json";
import DynamicImage from "@helpers/DynamicImage.astro";
---

<div class="services">
  {servicesData.services.map((service) => <ServiceCard service={service} />)}
</div>

<style>
  @layer components {
    .services {
      display: grid;
      gap: 1rem;
      display: grid;
      grid-template-columns: subgrid;
      grid-column: content-start / content-end;
      grid-template-columns: repeat(3, 1fr);

      margin-top: -7rem; /* overlap op i hero */
    }
  }
  /* Tablet */
  @media (max-width: 900px) {
    .services {
      grid-template-columns: repeat(2, 1fr);
      margin-top: -4rem; /* mindre overlap */
    }
  }

  /* Mobil */
  @media (max-width: 600px) {
    .services {
      grid-template-columns: 1fr;
      margin-top: -2rem; /* endnu mindre overlap */
    }
  }
</style>
